  <nav class="nav-bar">
    <div class="container">
      <ul class="nav">
        <li><span style="color:white"><b>Browse by:</b></span></li>
        <li><a href="{{"/locations" | prepend: site.baseurl}}">State/Town</a></li>
        <li><a href="{{"/styles" | prepend: site.baseurl}}">Architectural Style</a></li>
        <li><a href="{{"/architects" | prepend: site.baseurl}}">Architect</a></li>
        <li><a href="{{"/additions" | prepend: site.baseurl}}">Addition</a></li>
        <li><a href="{{"/statuses" | prepend: site.baseurl}}">Current use</a></li>
      </ul>
    </div>
  </nav>
