<div class="aside">
  <h3>See Also</h3>
  <ul>
    <li><a href="atour.htm">Take a Tour</a>
    <li><a href="acinworcester.htm">Carnegie Visit to Worcester, MA</a>
    <li><a href="alinks.htm">Library &amp; Carnegie Links</a>
    <li><a href="asources.htm">Sources &amp; Credits</a>
  </ul>

  <h3>Search</h3>
  <!-- Google CSE Search Box Begins  -->
    <form id="searchbox_006797737568568418392:qvct38odpje" action="http://google.com/cse">
      <input type="hidden" name="cx" value="006797737568568418392:qvct38odpje" />
      <input type="hidden" name="cof" value="FORID:0" />
      <input name="q" type="text" size="25" />
      <input type="submit" name="sa" value="Search" />
      <img src="http://google.com/coop/images/google_custom_search_smnar.gif" alt="" />
    </form>
  <!-- Google CSE Search Box Ends -->

  <h3>Click a State</h3>
  <img ID="NEMAP" src="{{"/images/NE_blank.png" | prepend: site.baseurl}}" alt="" usemap="#StateMap" />

  <map name="StateMap" id="Map">
      <area alt="Vermont" title="VT" href="{{"/locations/#vermont" | prepend: site.baseurl}}" shape="poly" coords="7,179,69,165,63,293,35,296" onMouseOver="document.getElementById('NEMAP').src='{{"/images/NE_VT.png" | prepend: site.baseurl}}'" onMouseOut="src='{{"/images/NE_blank.png" | prepend: site.baseurl}}'"  />
      <area alt="New Hampshire" title="NH" href="{{"/locations/#new-hampshire" | prepend: site.baseurl}}" shape="poly" coords="76,145,69,291,129,261" onMouseOver="document.getElementById('NEMAP').src='{{"/images/NE_NH.png" | prepend: site.baseurl}}'" onMouseOut="src='{{"/images/NE_blank.png" | prepend: site.baseurl}}'" />
      <area alt="Maine" title="ME" href="{{"/locations/#maine" | prepend: site.baseurl}}" shape="poly" coords="89,145,154,6,245,127,162,211,131,249" onMouseOver="document.getElementById('NEMAP').src='{{"/images/NE_ME.png" | prepend: site.baseurl}}'" onMouseOut="src='{{"/images/NE_blank.png" | prepend: site.baseurl}}'" />
      <area alt="Massachusetts" title="MA" href="{{"/locations/#massachusetts" | prepend: site.baseurl}}" shape="poly" coords="35,302,130,275,177,311,185,352,139,346,121,318,35,338" onMouseOver="document.getElementById('NEMAP').src='{{"/images/NE_MA.png" | prepend: site.baseurl}}'" onMouseOut="src='{{"/images/NE_blank.png" | prepend: site.baseurl}}'" />
      <area alt="Rhode Island" title="RI" href="{{"/locations/#rhode-island" | prepend: site.baseurl}}" shape="poly" coords="118,322,135,347,112,362,103,328"  onMouseOver="document.getElementById('NEMAP').src='{{"/images/NE_RI.png" | prepend: site.baseurl}}'" onMouseOut="src='{{"/images/NE_blank.png" | prepend: site.baseurl}}'" />
      <area alt="Connecticut" title="CT" href="{{"/locations/#connecticut" | prepend: site.baseurl}}" shape="poly" coords="40,343,100,329,111,365,41,398"  onMouseOver="document.getElementById('NEMAP').src='{{"/images/NE_CT.png" | prepend: site.baseurl}}'" onMouseOut="src='{{"/images/NE_blank.png" | prepend: site.baseurl}}'"/>
  </map>

</div>
